$bgColor: #30bfc9;
.blue-btn {
    background-color: $bgColor;
    padding: 10px 20px;
    border-radius: 20px;
    color: #fff;
    border: 0;
    cursor: pointer;
    font: {
        size: 18px;
    }
    &:hover {
        background-color: darken($bgColor, 20%)
    }
}